<div class="container margen" ng-controller="ProductController">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="titulo">
        <h2>{{producto}}</h2>
      </div>
    </div>
    <div class="panel-body">
      <div class="raw">
        <div class="col-md-3">
          <img src="{{image}}" alt="{{producto}}">
        </div>
      </div>
      <div class="raw">
        <div class="col-md-9">
          <div class="caption">
            <h4>{{producto}}</h4>
            <h4>{{precio}}</h4>
            <p>{{descripcion}}</p>
          </div>
          <div class="rating">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
