<section id="destacados" class="margen" ng-controller="FeaturedProductController">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="titulo">
          <h2>{{ destacados }}</h2>
        </div>
      </div>
      <div class="panel-body">
        <div class="raw text-center">
          <div class="col-sm-4 col-md-4">
            <img src="http://placehold.it/180x240" alt="">
            <div class="caption">
              <h4>producto</h4>
            </div>
            <div class="rating">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <img src="http://placehold.it/180x240" alt="">
            <div class="caption">
              <h4>producto</h4>
            </div>
            <div class="rating">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <img src="http://placehold.it/180x240" alt="">
            <div class="caption">
              <h4>producto</h4>
            </div>
            <div class="rating">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="productos" ng-controller="ListProductController">
  <div class="container">
    <div class="titulo">
      <h2>{{ title }}</h2>
    </div>
    <div class="raw">
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
          <div class="caption">
            <h4 class="pull-right">precio</h4>
            <h4>producto</h4>
          </div>
          <div class="rating text-center">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
          <div class="caption">
            <h4 class="pull-right">precio</h4>
            <h4>producto</h4>
          </div>
          <div class="rating text-center">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
          <div class="caption">
            <h4 class="pull-right">precio</h4>
            <h4>producto</h4>
          </div>
          <div class="rating text-center">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/160x200" alt="">
          <div class="caption">
            <h4 class="pull-right">precio</h4>
            <h4>producto</h4>
          </div>
          <div class="rating text-center">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
