<section id="destacados" ng-controller="FeaturedProductController">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="titulo">
          <h2>{{ destacados }}</h2>
        </div>
      </div>
      <div class="panel-body">
        <div class="row text-center">
          <div class="col-sm-4 col-md-4" ng-repeat="product in products">
            <img src="{{product.image}}" alt="">
            <div class="caption">
              <h4>{{product.title}}</h4>
            </div>
            <div class="rating">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="productos">
  <div class="container">
    <div class="titulo">
      <h2>{{ title }}</h2>
    </div>
    <div class="row">
      <div class="rating text-center" ng.repeat='productItem in products'>
        <list-item
          product='productItem'
          precio="{{poductItem.precio}}"
          type="{{productItem.precio}}"
          rate-up="increase(productItem)"
          rate-down="decrease(productItem)">
        </list-item>
      </div>
    </div>
  </div>
</section>
