/*.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 16px;
}
.rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}
.rating span.star:hover {
    cursor: pointer;
}
.rating span.star:before {
    content: "\f006";
    padding-right: 2px;
    color: #777;
}
.rating span.star:hover:before,
.rating span.star:hover~span.star:before {
    content: "\f005";
    color: #e3cf7a;
}*/
body{
  padding-top: 70px;
}

.thumbnail {
  padding: 0;
}
.thumbnail img {
    width: 100%;
}
.caption h4 {
    white-space: nowrap;
}

.tags li {
  padding: 0.3em 0.5em;
  margin: 0 0.2em;
  border: 1px solid #d3d3d3;
  display: inline-block;
}

.ng-cloak {
  display: none !important;
}
.active {
  color: red !important;
}

.error{
  color: red;
  padding: 0.5em 0;
}
